/* This file is for your main application css. */

/* @import "./phoenix.css"; */
@import "./materialize/materialize.css";
@import "./materialize/style.css";
@import "./cropper.min.css";

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

.tab { text-indent: 20px; }

/* Cropper CSS elements */
.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.hide {
	display: none;
}

img {
	height: auto;
	max-width: 100%;
}

@mixin column-count($ct) {
	-webkit-column-count: $ct;
	   -moz-column-count: $ct;
	        column-count: $ct;
}
  
.cards-container {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        	  page-break-inside: avoid; /* Firefox */
                   break-inside: avoid; /* IE 10+ */
	.card {
		display: inline-block;
		overflow: visible;
	}
}

@media #{$small-and-down} {
	.cards-container {
		@include column-count(1);
	}
}
@media #{$medium-and-up} {
	.cards-container {
		@include column-count(2);
	}
}
@media #{$large-and-up} {
	.cards-container {
		@include column-count(3);
	}
}