<div class="col s12 m7">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <%= render "form.html", changeset: @changeset, action: Routes.event_path(@conn, :update, @event), conn: @conn, categories: @categories, stored_tags: @stored_tags %>
            </div>
        </div>
    </div>
</div>