<%= form_for @changeset, @action, [id: "form"], fn f -> %>
    <%= if @changeset.action do %>
        <div class="alert alert-danger">
            <p>Please check errors below</p>
        </div>
    <% end %>
    <div class="row">
        <div class="col s4 push-s9">
            <%= if "/events" != @action do %>
                <%= link "Delete", to: Routes.event_path(@conn, :delete, @changeset.data), method: :delete, data: [confirm: "Are you sure?"], class: "btn-large btn-danger waves-effect waves-light red darken-4" %>
            <% end %>
            <%= submit "Save", class: "btn-large waves-effect waves-light blue" %>
        </div>
    </div>
    <div class="row">
        <div class="col s5">
            <%= input f, :title %>
            <%= input f, :organizer %>
            <div class="form-group">
                <%= label f, :category, class: "control-label" %>
                <%= select f, :category, @categories %>
                <%= error_tag f, :category %>
            </div>
            <div class="row">
                <div class="col s6">
                    <%= input f, :location %>
                </div>
                <div class="form-group">
                    <div class="col s6 push-s1">
                        <span class="flow-text">
                            <label>
                                <%= checkbox f, :online %>
                                <span>Online</span>
                            </label>
                            <%= error_tag f, :online %>
                        </span>
                    </div>
                </div>
            </div>
            <%= render "phx_datetime.html", changeset: @changeset, f: f %>
            <%= render "js_datetime.html", changeset: @changeset, f: f %>
            <div class="form-group">
                <div class="row">
                    <div class="col s6">
                        <%= input f, :min_participants %>
                    </div>
                    <div class="col s6">
                        <%= input f, :max_participants %>
                    </div>
                </div>
            </div>
            <div>
                <label>Tags</label>
                <div class="chips">
                    <input id="chips" name="event[chips]" class="custom-class" type="text">
                </div>
                <%= hidden_input f, :tags %>
                <input id="stored_tags" type="hidden" value=<%= @stored_tags %>>
                <%= error_tag f, :tags %>
            </div>
            <%= input f, :description %>
        </div>
        <div class="col s6 push-s2">
            <div class="row">
                <!-- input file -->
                <div class="col s10">
                    <input type="file" name="inputfile" id="inputfile" class="inputfile" />
                    <label for="inputfile" class="btn-large black-text waves-effect waves-light yellow lighten-3"><i class="material-icons">file_upload</i> Photo</label>
                </div>
            </div>
            <div class="row">
                <!-- leftbox -->
                <div class="col s10">
                    <div class="result"></div>
                </div>
            </div>
            <div class="row">
                <!--rightbox-->
                <div class="col s10 img-result hide">
                    <!-- result of crop -->
                    <%= hidden_input f, :image_url %>
                    <%= hidden_input f, :image %>
                    <img class="cropped" src="" alt="">
                </div>
            </div>
            <div class="row">
                <!-- input file -->
                <div class="col s10">
                    <div class="options hide">
                        <label> Width</label>
                        <input type="number" class="img-w" value="500" min="100" max="1200" />
                    </div>
                    <!-- save btn -->
                    <button class="btn save hide">Keep</button>
                </div>
            </div>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    document.querySelector("#form").addEventListener("submit",
        function(e) {
            chips2Input();
        });

    function chips2Input(){
            var instance = M.Chips.getInstance(document.querySelector('.chips')),
                inpt = document.querySelector('#event_tags');

            inpt.value =  null;
            for(var i=0; i<instance.chipsData.length; i++){
                if(inpt.value == null)
                    inpt.value = instance.chipsData[i].tag;
                else{
                    inpt.value += ','+instance.chipsData[i].tag; //csv
                }
            }
    }

    // vars
    let result = document.querySelector('.result'),
        img_result = document.querySelector('.img-result'),
        img_w = document.querySelector('.img-w'),
        img_h = document.querySelector('.img-h'),
        options = document.querySelector('.options'),
        save = document.querySelector('.save'),
        cropped = document.querySelector('.cropped'),
        hidden_image = document.querySelector('#event_image'),
        dwn = document.querySelector('.download'),
        upload = document.querySelector('#inputfile'),
        cropper = '';

    // on change show image with crop options
    upload.addEventListener('change', (e) => {
        if (e.target.files.length) {
            // start file reader
            const reader = new FileReader();
            reader.onload = (e)=> {
                if(e.target.result) {
                    // create new image
                    let img = document.createElement('img');
                    img.id = 'image';
                    img.src = e.target.result

                    // clean result before
                    result.innerHTML = '';
                    result.classList.remove('hide');
                    img_result.classList.add('hide');

                    // append new image
                    result.appendChild(img);

                    // show save btn and options
                    save.classList.remove('hide');
                    // options.classList.remove('hide');

                    // init cropper
                    cropper = new Cropper(img);
                }
            };
            reader.readAsDataURL(e.target.files[0]);
        }
    });

    // save on click
    save.addEventListener('click', (e)=> {
        e.preventDefault();

        // get result to data uri
        let imgSrc = cropper.getCroppedCanvas({
            width: img_w.value // input value
        }).toDataURL();

        result.classList.add('hide');

        // remove hide class of img
        cropped.classList.remove('hide');
        img_result.classList.remove('hide');
        save.classList.add('hide');

        // show image cropped
        cropped.src = imgSrc;
        hidden_image.value = imgSrc;
        // dwn.classList.remove('hide');
        // dwn.download = 'imagename.png';
        dwn.setAttribute('href',imgSrc);
    });
</script>