<!-- div id="messageBox" class="jumbotron">
  You are NOT logged in!
</div>
<div id="sign-in-container"></div -->

<div class="row">
    <%= form_for @conn, Routes.event_path(@conn, :index), [method: :get], fn f -> %>
        <div class="col s12 float: right">
            <div class="form-group row">
                <div class="input-field col s6">
                    <%= search_input f, :search_term %>
                </div>
                <div class="input-field col s6">
                    <%= submit "Search", class: "btn-large waves-effect waves-light blue" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="col s12 cards-container">
        <%= for event <- @events do %>
            <%= render "show_small.html", event: event, conn: @conn %>
        <% end %>
    </div>
</div>