<div class="form-group">
    <%= label @f, :end_date, class: "control-label" %>
    <div class="row">
        <%= if @changeset.data.end_time do %>
            <div class="col s6">
                <span class="flow-text">
                    <%= text_input @f, :end_date, class: "datepicker", value: Timex.format!(tz_convert(@changeset.data.end_time, "IRV"), "{M}/{D}/{YYYY}") %>
                </span>
            </div>
            <div class="col s6">
                <span class="flow-text">
                    <%= text_input @f, :end_clock, class: "timepicker", value: Timex.format!(tz_convert(@changeset.data.end_time, "IRV"), "{0h12}:{0m} {AM}") %>
                </span>
            </div>
        <% else %>
            <div class="col s6">
                <span class="flow-text">
                    <%= text_input @f, :end_date, class: "datepicker", value: Timex.format!(tz_convert(Timex.now(), "IRV"), "{M}/{D}/{YYYY}") %>
                </span>
            </div>
            <div class="col s6">
                <span class="flow-text">
                    <%= text_input @f, :end_clock, class: "timepicker", value: Timex.format!(tz_convert(Timex.now(), "IRV"), "%I:%M %p", :strftime) %>
                </span>
            </div>
        <% end %>
    </div>
    <%= error_tag @f, :end_time %>
</div>
