<div class="form-group">
    <%= label @f, :start_date, class: "control-label" %>
    <div class="row">
        <%= if @changeset.data.start_time do %>
            <div class="col s6">
                <span class="flow-text">
                    <%= date_input @f, :start_date, value: DateTime.to_date(tz_convert(@changeset.data.start_time, "IRV")) %>
                </span>
            </div>
            <div class="col s6">
                <span class="flow-text">
                    <%= time_input @f, :start_clock, value: DateTime.to_time(tz_convert(@changeset.data.start_time, "IRV")) %>
                </span>
            </div>
        <% else %>
            <div class="col s6">
                <span class="flow-text">
                    <%= date_input @f, :start_date, value: DateTime.to_date(tz_convert(DateTime.utc_now(), "IRV")) %>
                </span>
            </div>
            <div class="col s6">
                <span class="flow-text">
                    <%= time_input @f, :start_clock, value: DateTime.to_time(tz_convert(DateTime.utc_now(), "IRV")) %>
                </span>
            </div>
        <% end %>
        <%= error_tag @f, :start_time %>
    </div>
</div>