<div class="card small">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
            <%= link @event.title, to: Routes.event_path(@conn, :show, @event.id), style: "color:black" %>
        </span>
        <div class="card-image">
            <%= aws_s3 @event.image_url %>
        </div>

        <div class="card-content">
            <div>
                <p style="font-size:12px;"><b>START: </b><%= Timex.format!(tz_convert(@event.start_time, "IRV"), "{M}/{D}/{YYYY}, {0h12}:{0m} {AM}") %></p>
                <p style="font-size:12px;"><b>JOINED: </b># (<%= @event.min_participants %> - <%= @event.max_participants %>)</p>
                <p style="font-size:12px;"><b>LOCATION: </b><%= @event.location %></p>
            </div>
        </div>
    </div>
</div>
