<div class="col s12 m7">
    <div class="card blue horizontal">
        <div class="card-stacked">
            <div class="card-content white-text">
                <p>by <%= @event.organizer %></p>
                <br>
                <div>
                    <p><b>DATE AND TIME</b></p>
                    <p class="tab"><%= Timex.format!(tz_convert(@event.start_time, "IRV"), "{M}/{D}/{YYYY}, {0h12}:{0m} {AM}") %> -</p>
                    <p class="tab"><%= Timex.format!(tz_convert(@event.end_time, "IRV"), "{M}/{D}/{YYYY}, {0h12}:{0m} {AM}") %></p>
                </div>
                <br>
                <div>
                    <p><b>JOINED</b></p>
                    <p class="tab"># (<%= @event.min_participants %> - <%= @event.max_participants %>)</p>
                </div>
                <br>
                <div>
                    <b>LOCATION</b><br>
                    <p class="tab"><%= @event.location %></p>
                </div>
            </div>
            <div class="card-action">
                <%= link "Edit", to: Routes.event_path(@conn, :edit, @event.id) %>
            </div>
        </div>
        <div class="card-image">
            <%= aws_s3 @event.image_url %>
            <h1><span class="card-title"><b><%= @event.title %></b></span></h1>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><b><%= @event.title %></b><i class="material-icons right">close</i></span>
            <p><%= @event.description %></p>
            <p>Tags: <%= @event.tags %></p>
<!--                Category:         <%= @event.category %><br> -->
<!--                online:           <%= @event.online %><br> -->
<!--                active:           <%= @event.active %><br> -->
        </div>
    </div>
</div>