<nav class="navbar-fixed blue darken-2" role="navigation">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Meetup</a>
        <a href="#" data-target="mobile-meetup" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <%= render "navbar_item.html", text: "Search", conn: @conn, path: Routes.event_path(@conn, :index) %>
            <%= render "navbar_item.html", text: "Directory", conn: @conn, path: Routes.user_path(@conn, :index) %>
            <%= render "navbar_item.html", text: "Create Event", conn: @conn, path: Routes.event_path(@conn, :new) %>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-meetup">
    <li><%= link "Search", to: Routes.event_path(@conn, :index) %></li>
    <li><%= link "Directory", to: Routes.user_path(@conn, :index) %></li>
    <li><%= link "Create Event", to: Routes.event_path(@conn, :new) %></li>
</ul>
