<%= form_for @changeset, @action, fn f -> %>

    <%= if @changeset.action do %>
        <div class="alert alert-danger">
            <p>Please check errors below</p>
        </div>
    <% end %>

    <%= input f, :initials %>
    <%= input f, :first_name %>
    <%= input f, :last_name %>
    <div class="form-group">
        <%= label f, :email, class: "control-label" %>
        <%= email_input f, :email, placeholder: "John@smith.com", class: "form-control" %>
        <%= error_tag f, :email %>
    </div>
    <div class="form-group">
        <%= label f, :alt_email, class: "control-label" %>
        <%= email_input f, :alt_email, placeholder: "Jane@doe.com", class: "form-control"  %>
        <%= error_tag f, :alt_email %>
    </div>
    <div class="form-group">
        <%= label f, :phone, class: "control-label" %>
        <%= telephone_input f, :phone, placeholder: "(###) ###-####", class: "form-control"  %>
        <%= error_tag f, :phone %>
    </div>
    <%= input f, :image_url %>
    <div class="form-group">
        <%= label f, :office, class: "control-label" %>
        <%= select f, :office, @locations %>
        <%= error_tag f, :office %>
    </div>
    <%= submit "Submit" %>
    <div>
        <%= text_input f, :oauth_id, placeholder: "OAuth" %>
        <%= error_tag f, :oauth_id %>
    </div>
<% end %>