<h1>Listing Users</h1>

<%= form_for @conn, Routes.user_path(@conn, :index), [method: :get], fn f -> %>
    <div class="form-group row center">
        <%= search_input f, :search_term %>
        <%= submit "Search", class: "btn-large waves-effect waves-light blue" %>
    </div>
<% end %>

<table>
    <%= for user <- @users do %>
        <tr>
            <td><b><%= user.initials %></b> (<%= user.id %>)</td>
            <td>
                <%= link "View", to: Routes.user_path(@conn, :show, user.id) %>
                <%= link "Edit", to: Routes.user_path(@conn, :edit, user.id) %>
            </td>
        </tr>
    <% end %>
</table>
<%= link "New", to: Routes.user_path(@conn, :new) %>