<h1>Showing User</h1>
Initials:   <b><%= @user.initials %></b> (<%= @user.id %>)<br>
Name:       <%= @user.last_name %>, <%= @user.first_name %><br>
E-Mail:     <%= @user.email %><br>
Alt E-Mail: <%= @user.alt_email %><br>
Phone:      <%= @user.phone %><br>
Image URL:  <%= @user.image_url %><br>
Office:     <%= @user.office %><br>
OAuth:      <%= @user.oauth_id %>
